body{
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    margin:0;
    padding: 20px;
}

/*Main Container*/
.container{
    width: 80%;
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1{
    color: #333;
}

/* Controls (Search, filter, sort)*/
.controls {
    margin-bottom: 15px;
}

input,
select,
button{
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button{
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}

/*Animal List */
#animalList {
    list-style-type: none;
    padding: 0;
}

#animalList li{
    background-color: #fff;
    margin: 8px 0;
    padding: 5px 8px;
    cursor: pointer;
}

.remove-btn:hover{
    background-color: #c82333;
}

/*Add New Animal Form */
.add-animal {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 2px solid #ddd
}